.navigation{
    display: inline-block;
    padding-top: 25.5px;
  
}
.menu-item{
    display: inline-block;
    
    
}
.menu-link{
    margin-left: 72px;
    color: #FF0000;
    text-decoration: none;
}

.imagefon{
    width: 100%;
}
.button{
   text-align: center;
   background-color: #FF0000;
   width: 191px;
   height: 51px;
   left: 544.5px;
   top: 557px;
   text-decoration: none;
   color: #FFFFFF;
   padding-top: 18px;
   padding-bottom: 17px;
   padding-right: 44px;
   padding-left: 44px;
   margin-top: 200px;
  

}
.text-end{
    text-align: right;
    padding-right: 105px;
    margin-top: 40px;
   
}
.container{
    text-align: center;
    padding-left: 330px;
    padding-right: 330px;
}
.text{
    margin-bottom: 84px;

}   